.formSection {
    margin: 0;
    padding: 1px 4px 1px 4px;
}

.formSection h3 {
    color: #000;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    padding: 0;
}

.formSection td {
    text-align: center;
    min-width: 75px;
    padding: 0px;
}

.formSection th {
    font-size: 14px;
    text-align: center;
    white-space: normal !important;
    max-width: 75px;
    background-color: #f3f5f7 !important;
    border: 1px solid #d5dde5 !important;
    color: black !important;
    font-weight: 500;
}

.indicatorArea {
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: none;
}

.indicatorArea td {
    width: 100% !important;
    text-align: left !important;
}

.entryfield,
.indicator {
    max-width: 75px;
}

.entryarea {
    max-width: 300px;
}

main .nrcsubsection {
    background-color: #fff;
    height: 5px;
}

main input.entryfield {
    width: 70px;
    height: 18px;
    padding: 2px;
}

main input.dataelementtotal {
    width: 70px;
    height: 16px;
    padding: 2px;
}

main input.indicator {
    width: 70px;
    height: 18px;
    padding: 2px;
}

main tr.derow {
    background-color: #fff;
}

main tr.focus {
    background-color: #e5f5e5;
}

main tr.hover,
main tr:hover {
    background-color: #e5e5e5;
}

main th {
    border-style: hidden !important;
}

main td {
}

main td.nrcindicatorName {
    text-align: left;
    white-space: normal;
    max-width: 33%;
    padding: 8px;
}

main tr.secondary td.nrcindicatorName {
    font-style: italic;
}

main td.lastinrow {
    background-color: #eee;
    text-align: center;
}

main th.nrcinfoheader:first-of-type {
    border-bottom: none !important;
    border-top: none !important;
}

main th.nrcdataheader {
    text-align: center;
    border-bottom: 1px solid #ddd !important;
    background-color: #eaf7fb;
    white-space: nowrap;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
}

main th.nrctotalheader {
    text-align: center;
    border-bottom: 1px solid #ddd !important;
    background-color: #eee;
    white-space: nowrap;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 10px;
    padding-right: 10px;
}

main .panel {
    margin-bottom: 7px;
}

main .panel-body {
    padding-top: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}

main .panel-default > .panel-heading {
    background-color: #404b5a;
    border-color: #404b5a;
    padding: 10px;
    color: white;
    cursor: pointer;
}

main .panel-default > .panel-heading h5 {
    margin: 0;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #053e21;
}

.ui-widget-header {
    background: none;
    background-color: #2f3867;
}

main a.nrc-panel-title {
    color: white;
    cursor: pointer;
    margin-left: 8px;
}

main .accordion-toggle:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M7.646 5.646a.5.5 0 01.638-.057l.07.057 3.5 3.5a.5.5 0 01-.638.765l-.07-.057L8 6.707 4.854 9.854a.5.5 0 01-.638.057l-.07-.057a.5.5 0 01-.057-.638l.057-.07z'/></svg>") no-repeat center;
}

main .panel-heading.collapsed .accordion-toggle:before {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M4.146 6.146a.5.5 0 01.638-.057l.07.057L8 9.293l3.146-3.147a.5.5 0 01.638-.057l.07.057a.5.5 0 01.057.638l-.057.07-3.5 3.5a.5.5 0 01-.638.057l-.07-.057-3.5-3.5a.5.5 0 010-.708z'/></svg>") no-repeat center / contain;
}

main .panel-collapse.collapsed {
    visibility: hidden;
    height: 0px;
}

main .sectionTable {
    margin-bottom: 0px !important;
}

.page p,
.page td,
.page th,
.page input,
.page select,
.page textarea {
    font-size: 9pt;
}

.page th {
    text-align: left;
    color: #39547d;
    padding: 3px 0 3px 1px;
    font-size: 13px;
    font-weight: bold;
    border-collapse: collapse;
    border-bottom: 1px solid #cad5e5;
    min-height: 28px;
}

#tabs .tab-links li {
    font-size: 14px;
    border-bottom: 1px solid rgb(213, 221, 229);
    color: rgb(108, 119, 135);
    cursor: pointer;
}

#tabs .tab-links li button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 16px 16px 11px;
}

#tabs .tab-links li:hover {
    border-bottom: 3px solid #6C7787;
    color: rgb(33, 41, 52);
}

#tabs .tab-links li.ui-tabs-active {
    border-bottom: 6px solid #1264be;
    color: rgb(13, 71, 161);
}

ul.list-unstyled{
    list-style-type: none;
    display: flex
}

