html {
    background-color: #f3f3f3;
    font-family: Roboto, Arial, sans-serif;
    overflow-y: scroll;
}

body {
    margin: 0;
}

li {
    line-height: 1.75;
}

.dropdown {
    width: 100%;
}

.dropdown > div {
    margin-left: 0;
}

tr:has(.MuiAlert-message) {
    background-color: rgb(255, 238, 238);
}

.MuiToolbar-root > div[data-test="search"] {
    padding-inline-start: 0.4em;
}
